<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Production Houses</title>
  </head>
  <body>
    <h1>Production Houses</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Headquarters</th>
        </tr>
      </thead>

      <tbody>
        <% ph.forEach(el => { %>
        <tr>
          <td><%= el.name_prodHouse %></td>
          <td><%= el.headquarters %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
